:root {
    --menu-text-color: #ffebdc;
}

body {
    background-color: whitesmoke;
}

.bird {
    position: absolute;
}

.menu-layout {
    max-width: 260px;
}

.main-menu {
    background-color: #298BA0;
    color: var(--menu-text-color);
}

.hamburger-menu {
    align-self: center;
    cursor: pointer;
}

.menu-item a span{
    color: var(--menu-text-color);
    font-variant: small-caps;
}

.hamburger-menu
.menu-icon a{
    fill: var(--menu-text-color);
}

.menu-height {
    min-height: 100vh;
}

.info-card {
    height: 250px;
    width: 250px;
    background-color: var(--menu-text-color);
    box-shadow: 10px 10px #e3d1c3;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

.row,
.col-sm-1,
.col-sm-11 {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-container {
    margint-top:2rem;
}

/*.table-custom-style {*/
    /*width: 85%;*/
/*}*/

#taskBasket_wrapper{
    background-color: var(--menu-text-color);
    box-shadow: 10px 10px #e3d1c3;
    padding: 10px;
}


input[type=search],
select[name=taskBasket_length]{
    background-color: ghostwhite !important;
    border: none !important;
}