:root {
    --page-white: #F5F5F5;
    --dark-blue: #23687d;
    --lighter-blue: #298BA0;
}

body {
    background-color: var(--page-white);
}

.bird {
    position: absolute;
}

.menu-layout {
    max-width: 260px;
}

.menu-column{
    -ms-flex: 0 0 145px;
    flex: 0 0 145px;
}

.main-menu {
    background-color: var(--lighter-blue);
    color: var(--page-white);
    position: relative;
    min-width: 145px;
}

.title-icon svg {
    width: 2rem;
}


.page-title {
    color: var(--dark-blue)
}

.tree-container {
    margin-left: -5px;
    position: fixed;
    top: 8px;
    z-index: 10
}

.menu-item-container {
    position: fixed;
    width: min-content;
    top: 5rem
}

.first-item {
    padding-top: 12rem
}

.menu-item {
    width: -webkit-fill-available;
    margin-top: 0.3rem;
}

.menu-item a {
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu-item a div {
    color: var(--page-white);
    font-size: 1rem;
}

.menu-icon div:last-child {
    margin-left: 0.5rem;
}

.version-container {
    z-index: 12;
    position: fixed;
    bottom: 8.8rem;
}

.version-container div,
.version-container a {
    font-size: .8rem
}

.version-container a {
    color: var(--page-white);
    text-decoration: none;
}

.version-container a:hover {
    filter: brightness(0.8);
    text-decoration: none;
}

.bush-container {
    position: fixed;
    bottom: 0;
    margin-bottom: -4px;
    margin-left: -4px;
    z-index: 10;
}

#narrow-menu {
    position: relative;
    display: none;
}

#narrow-menu div div.hamburger-menu {
    z-index: 11;
    padding-top: 5rem;
    position: fixed
}

#narrow-menu div div.hamburger-menu div {
    transform: rotate(180deg)
}

#narrow-menu div div.menu-item-container {
    position: fixed;
    width: min-content;
    top: 14rem
}


.narrow-menu-icon:hover,
a.nav-link.menu-icon:hover {
    /*//todo, ide vmi animációt tenni*/
    /*background: linear-gradient(90deg, #084957 4%, transparent 4%, rgba(8, 73, 87, 0.12) 50%, transparent 100%)*/

}


.hamburger-menu svg,
.menu-icon svg {
    fill: var(--page-white);
    width: 20px;
}

.narrow-menu-icon {
    padding: .5rem 1rem;
}

/*to do itt jártam*/

.narrow-menu-icon svg {
    fill: whitesmoke;
    width: 20px;
}

.menu-height {
    min-height: 100vh;
}

.info-card {
    height: 13rem;
    width: 14rem;
    background: linear-gradient(0deg, rgba(0, 128, 0, 0.1), transparent);
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

.info-card div div {

    font-weight: 500;
}

.row,
.col,
.col-sm-1,
.col-sm-2,
.col-sm-10,
.col-sm-11 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    width: 100% !important;
}

.card-container {
    margint-top: 2rem;
}

.card-content-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 10px 0 10px
}

.card-content-number-big {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    align-self: baseline
}

.card-content-number-small {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: baseline
}

.card-status-bar {
    background-color: green;
    width: calc(5 / 8 * 100%);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0
}

#taskBasket {
    width: fit-content;
}

#taskBasket_wrapper {
    background-color: var(--page-white);
    box-shadow: 10px 10px #e3d1c3;
    padding: 10px;
}


input[type=search],
input[type=text],
input[type=number],
select[name=taskBasket_length] {
    background-color: ghostwhite !important;
    border: none !important;
}

#svg10000 {
    width: 250px;
}

.table{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table.dataTable.no-footer {
    border-bottom: 1px solid #e3d1c3;
}

div.dataTables_length label select {
    background-color: var(--page-white) !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: none;
    background-color: var(--lighter-blue);
    color: var(--page-white) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background-color: var(--lighter-blue);
    filter: brightness(0.9);
    color: var(--page-white) !important;
}

#deviceTable_length > label > select {
    border: none;
    background-color: var(--page-white);
}

.table-custom-style {
    background-color: rgba(41, 139, 160, 0.2);
  }

#deviceTable {
    width: fit-content !important;
}

@media screen and (max-width: 517px) {
    .nav-link .menu-icon {
        display: flex;
        flex-direction: column;
    }

    .menu-item-container {
        width: -webkit-fill-available;
    }
}

.box-shadow {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.create-new-button {
    border-radius: 0 !important;
    text-decoration: none !important;
    color: var(--page-white) !important;
    min-width: 160px;
    width: 100%;
    background-color: #53A86B;
    font-weight: 600;
    padding: .5rem 2rem;
}

.how-to-box {
    background-color: rgba(255,247,157,0.5);
}

.how-to {
    font-size: 1.2rem;
    font-weight: 600;
}

.read-more {
    text-decoration: underline;
    cursor: pointer;
}

.form-item-container {
    background-color: rgba(41, 139, 160, 0.2);
}

.fw-600 {
    font-weight: 600
}

.column-container {
    background-color: var(--page-white);
    position: relative
}

.am-pm-container {
    background-color: var(--dark-blue);
    color: var(--page-white);
    font-size: 1.5rem;
    padding: .7rem 1rem;
    width: fit-content;
    position: absolute;
    top: -1.5rem; z-index: 1
}

.day-icon-top {
    top: 55px;
    left: 40px
}

.day-icon-bottom {
    bottom: 25px;
    left: 40px
}

.hour-container {
    min-width: 65px;
    max-width: 65px;
    height: 35px;
    background-color: #F1C59D;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600
}

.hour-select {
    min-width: 100px;
    max-width: 300px;
    background-color: #E5E9EF;
    border: none;
    height: 35px
}

.underline {
    z-index: -1;
    position: absolute;
    top: 1px;
    width: 1px;
    height: 1px;
    transition: transform 0.5s cubic-bezier(0.33, 1.61, 0, 0.83);
    cursor: pointer;
}

.underline.background {
    background: var(--dark-blue);
    z-index: -2;
    cursor: pointer;
}

#gearIcon:hover {
    animation: gear 1s infinite linear;
}

.support-container {
    cursor: pointer;
    justify-content: space-evenly;
    width: 105px;
    padding: 8px;
    z-index: 100;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    border-top-right-radius: 14px;
}

.gear-icon {
    width: 20px;
    height: auto;
}

.support-text {
    font-size: .75rem;
    padding: 0 10px;
}

.support-mail {
    color: #e3d1c3 !important;
}

@keyframes gear {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }
    to {
        transform: rotate(60deg);
        transform-origin: center;
    }
}