:root {
    --menu-text-color: #ffebdc;
}

body {
    background-color: whitesmoke;
}

.bird {
    position: absolute;
}

.menu-layout {
    max-width: 260px;
}

.main-menu {
    background-color: #298BA0;
    color: var(--menu-text-color);
    position: relative;
    min-width: 145px;
}

.title-icon svg {
    width: 2rem;
}

.tree-container {
    margin-left: -5px;
    position: fixed;
    top: 8px;
    z-index: 10
}

.menu-item-container {
    position: fixed;
    width: min-content;
    top: 5rem
}

.first-item {
    padding-top: 12rem
}

.menu-item {
    width: -webkit-fill-available;
}

.stripe {
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #298ba0, #084957, #298ba0);
}

.menu-item a {
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu-item a div {
    color: var(--menu-text-color);
    font-variant: small-caps;
    font-size: 0.875rem;
}

.menu-icon div:last-child {
    margin-left: 0.5rem;
}

.version-container {
    z-index: 12;
    position: fixed;
    bottom: 8.8rem;
}

.version-container div,
.version-container a {
    font-size: .8rem
}

.version-container a {
    color: var(--menu-text-color);
    text-decoration: none;
}

.version-container a:hover {
    filter: brightness(0.8);
    text-decoration: none;
}

.bush-container {
    position: fixed;
    bottom: 0;
    margin-bottom: -4px;
    margin-left: -4px;
    z-index: 10;
}

#narrow-menu {
    position: relative;
    display: none;
}

#narrow-menu div div.hamburger-menu {
    z-index: 11;
    padding-top: 5rem;
    position: fixed
}

#narrow-menu div div.hamburger-menu div {
    transform: rotate(180deg)
}

#narrow-menu div div.menu-item-container {
    position: fixed;
    width: min-content;
    top: 14rem
}


.narrow-menu-icon:hover,
a.nav-link.menu-icon:hover {
    background: linear-gradient(90deg, #084957 4%, transparent 4%, rgba(8, 73, 87, 0.12) 50%, transparent 100%)
}


.hamburger-menu svg,
.menu-icon svg {
    fill: whitesmoke;
    width: 20px;
}

.narrow-menu-icon {
    padding: .5rem 1rem;
}

/*to do itt jártam*/

.narrow-menu-icon svg {
    fill: whitesmoke;
    width: 20px;
}

.menu-height {
    min-height: 100vh;
}

.info-card {
    height: 13rem;
    width: 14rem;
    /*background-color: #FCFBF8;*/
    background: linear-gradient(0deg, rgba(0, 128, 0, 0.1), transparent);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

.info-card div div {

    font-weight: 500;
}

.row,
.col-sm-1,
.col-sm-2,
.col-sm-10,
.col-sm-11 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    width: 100% !important;
}

.card-container {
    margint-top: 2rem;
}

.card-content-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 10px 0 10px
}

.card-content-number-big {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    align-self: baseline
}

.card-content-number-small {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: baseline
}

.card-status-bar {
    background-color: green;
    width: calc(5 / 8 * 100%);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0
}

#taskBasket {
    width: fit-content;
}

#taskBasket_wrapper {
    background-color: var(--menu-text-color);
    box-shadow: 10px 10px #e3d1c3;
    padding: 10px;
}


input[type=search],
select[name=taskBasket_length] {
    background-color: ghostwhite !important;
    border: none !important;
}

#svg10000 {
    width: 250px;
}

.table.dataTable.no-footer {
    border-bottom: 1px solid #e3d1c3;
}

select[name="playParamTable_length"] {
    background-color: whitesmoke !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: none;
    background: linear-gradient(to top, #298BA0, #298BA0);
    color: whitesmoke !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background: linear-gradient(to top, #298BA0, #298BA0);
    filter: brightness(0.9);
    color: whitesmoke !important;
}

#deviceTable_length > label > select {
    border: none;
    background-color: whitesmoke;
}

.table-custom-style {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, rgba(41, 139, 160, 0.1), rgba(255, 228, 196, 0.31));
}

#deviceTable {
    width: fit-content !important;
}

@media screen and (max-width: 517px) {
    .nav-link .menu-icon {
        display: flex;
        flex-direction: column;
    }
    .menu-item-container {
        width: -webkit-fill-available;
    }
}

.box-shadow {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.create-new-button {
    border-radius: 0 !important;
    text-decoration:  none !important;
    color: whitesmoke !important;
    height: 2rem;
    width: 100%;
    background-color: #53A86B;
}

/*.tree {*/
/*    margin-left: -5px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*}*/

/*.bush {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    margin-bottom: -4px;*/
/*    margin-left: -4px;*/
/*    z-index: 10;*/
/*}*/