<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>devicePlayParam</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row justify-content-center">
            <div th:insert="fragments/_messages"></div>
            <div class="button-primary">
                <a th:href='${#strings.concat("/devicePlayParam/new?id=", deviceId)}'>Create new devicePlayParam</a>
            </div>
            <div class=" mt-5 table-custom-style
            ">
                <table id="devicePlayParamTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>playParam</th>
                        <th>startTime</th>
                        <th>stopTime</th>
                        <th>status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div th:insert="fragments/_foot_includes"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var tableData = /*[[${devicePlayParamDtos}]]*/;
            var deviceId = /*[[${deviceId}]]*/;
            console.log(tableData);

            $('#devicePlayParamTable').DataTable({
                data: tableData,
                // select: true
                columns: [
                    {data: 'id'},
                    {
                        data: 'playParam',
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<span><a href='/playParam/page'>" + "[" + oData.playParam.name + "]" + "</a></span>");
                        }
                    },
                    {data: 'startTime'},
                    {data: 'stopTime'},
                    {data: 'status'},
                    {
                        data: 'id',
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            var isDraft = oData.status.toString() == "DRAFT" ? true:false;
                            var isDeployable = oData.status.toString() == "DEPLOYABLE" ? true:false;

                            if (isDraft) {
                                $(nTd).html("" +
                                    "<span><a href='/devicePlayParam/" + oData.id + "'><span>edit</span></a></span> " + " " +
                                    "<span><a href='/devicePlayParam/setToDeleted?DPPId=" + oData.id + "'> Delete</a></span>" + " " +
                                    "<span><a href='/devicePlayParam/setToDeployable?DPPId=" + oData.id + "'> Change to deployable</a></span>"
                                );
                            }
                            if (isDeployable) {
                                $(nTd).html("" +
                                    "<span><a href='/devicePlayParam/setToDraft?DPPId=" + oData.id + "'> Change to draft</a></span>"
                                );
                            }
                        },
                        searchable: false
                    }
                ]
            })
            ;

            /*]]>*/
        </script>
    </div>
    </form>
</body>

</html>