<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>devicePlayParam</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col menu-column" th:insert="fragments/_menu"></div>
    <div class="col">
        <div class="row justify-content-center">
            <div th:insert="fragments/_messages"></div>
            <div class="button-primary">
                <a th:href='${#strings.concat("/devicePlayParam/new?id=", deviceId)}'>Create new devicePlayParam</a>
            </div>
            <div class="mt-5 table-custom-style">
                <table id="devicePlayParamTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>playParam</th>
                        <th>startTime</th>
                        <th>stopTime</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var tableData = /*[[${devicePlayParamDtos}]]*/;
    console.log(tableData);

    $('#devicePlayParamTable').DataTable({
        data: tableData,
        // select: true,
        columns: [
            {data: 'id'},
            {
                data: 'playParam',
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<span><a href='/playParam/page'>" + "[" + oData.playParam.name + "]" + "</a></span>");
                }
            },
            {data: 'startTime'},
            {data: 'stopTime'},
            {
                data: 'id',
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<span><a href='/devicePlayParam/" + oData.id + "'><span>edit</span></a></span> <span><a href='/devicePlayParam/" + oData.id + "/delete'><span>delete</span></a></span>");

                },
                searchable: false
            }
        ],
        autoWidth: false
    });

    /*]]>*/
</script>
</body>

</html>