<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>device</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row justify-content-center">
            <h3 class="mb-2 p-4 page-title">
                <span th:text="${title}"></span>
            </h3>
        </div>
        <div class="row justify-content-center  ">
            <div class="col-sm-10 form-item-container"> <!--TODO: make it more aesthetic, its very elongated,  but i cant css-->
                <div th:insert="fragments/_messages"></div>
                <form th:if="${isErrorLogsPage}" class="row mb-2 " th:action="@{/device/errors}"
                      method="get">
                    <div class="col">
                        <label for="day" class="fw-600">Generated days ago:</label>
                    </div>
                    <div class="col">
                        <input type="number" id="day" th:name="day"/>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn create-new-button p-1">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-5 table-custom-style">
            <table id="deviceTable" class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Device</th>
                    <th>Server accept time</th>
                    <th>Logged time</th>
                    <th>Message code</th>
                    <th>Message</th>
                    <th>Additonal message</th>

                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var tableData = /*[[${logs}]]*/;
    console.log(tableData);

    $('#deviceTable').DataTable({
        "pageLength": 100,
        data: tableData,
        "order": [0, "desc"],
        "pageLength": 100,
        // select: true,
        columns: [
            {data: 'id'},
            {
                data: 'device',
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    console.log(oData);
                    $(nTd).html("<span><a href='/device/" + oData.device.id + "'><span> " + oData.device.name + "</span></a></span>");
                },
                searchable: false
            },
            {data: 'createdAt'},
            {data: 'loggedTime'},
            {data: 'messageCode'},
            {data: 'message'},
            {data: 'additional'}
        ]
    });

    /*]]>*/
</script>
</body>
</html>