<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>device</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row  card-container d-flex justify-content-center">
            <div class="col-sm-10 d-flex justify-content-lg-around">
                <div class="m-2 info-card d-flex flex-column justify-content-center align-items-center"
                     style="position: relative">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="card-content-text">Running devices</span>
                        <div class="d-flex justify-content-center">
                            <span class="card-content-number-big">5</span>
                            <span class="card-content-number-small">/8</span>
                        </div>
                    </div>
                    <div class="card-status-bar"></div>
                </div>
                <div class="m-2 info-card d-flex flex-column justify-content-center align-items-center"
                     style="position: relative">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="card-content-text">Running devices</span>
                        <div class="d-flex justify-content-center">
                            <span class="card-content-number-big">5</span>
                            <span class="card-content-number-small">/8</span>
                        </div>
                    </div>
                    <div class="card-status-bar"></div>
                </div>
                <div class="m-2 info-card d-flex flex-column justify-content-center align-items-center"
                     style="position: relative">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="card-content-text">Running devices</span>
                        <div class="d-flex justify-content-center">
                            <span class="card-content-number-big">5</span>
                            <span class="card-content-number-small">/8</span>
                        </div>
                    </div>
                    <div class="card-status-bar"></div>
                </div>
                <div class="m-2 info-card d-flex flex-column justify-content-center align-items-center"
                     style="position: relative">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="card-content-text">Running devices</span>
                        <div class="d-flex justify-content-center">
                            <span class="card-content-number-big">5</span>
                            <span class="card-content-number-small">/8</span>
                        </div>
                    </div>
                    <div class="card-status-bar"></div>
                </div>


            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-sm-10" style="position: relative">
                <div class="">
                    <div th:insert="fragments/svgs/table" style="position: absolute; right: -50px; top: -60px"></div>
                </div>
                <span style="font-size: 1.5rem; color: white; position: absolute; right: -15px;top: 5px; transform: rotate(353deg)">details of devices</span>
                <div class="mt-5 table-custom-style p-4" >
                    <table id="deviceTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>chipId</th>
                            <th>location</th>
                            <th>status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var tableData = /*[[${deviceDtoList}]]*/;
    console.log(tableData);

    $('#deviceTable').DataTable({
        data: tableData,
        // select: true,
        columns: [
            {data: 'id'},
            {data: 'name'},
            {data: 'chipId'},
            {data: 'location'},
            {data: 'status'},
            {
                data: 'id',
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<span><a href='/device/" + oData.id + "'><span>edit </span></a></span>" +
                        "<span><a href='/device/" + oData.id + "/delete'><span>delete </span></a></span>" +
                        "<span><a href='/devicePlayParam" + "/page?id=" + oData.id + "'> <span>PlayParam</span> </a> </span>" +
                    "<span><a href='/device" + "/" + oData.id + "/log'> <span>logs</span> </a> </span>"
                    );

                },
                searchable: false
            }
        ]
    });

    /*]]>*/
</script>
</body>
</html>