<html xmlns:th="http://www.thymeleaf.org">
<!-- side bar -->
<div class="col-md-2 bg-light">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/playParam/page}"><h5>PlayParams</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/palyUnit/page}"><h5>PlayUnits</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/track/page}"><h5>Tracks</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" th:href="@{/device/page}"><h5>Devices</h5></a>
        </li>

    </ul>
</div>
