<html xmlns:th="http://www.thymeleaf.org">
<div class="h-100 main-menu" style="position: relative">
    <div class="nav d-flex align-items-start flex-column menu-height justify-items-center" id="opened-menu">
        <div class="tree-container">
            <div th:insert="fragments/svgs/tree"></div>
        </div>

        <div class="menu-item-container">
            <div class="underline"></div>
            <div class="underline background"></div>
            <div class="first-item"></div>
            <div class="menu-item">
                <a class="nav-link menu-icon" th:href="@{/device/page}" title="device">
                    <div id="devices-icon">
                        <div th:insert="fragments/svgs/device-icon"></div>
                    </div>
                    <div id="devices">Devices</div>
                </a>
            </div>
            <div class="menu-item ">
                <a class="nav-link menu-icon" th:href="@{/playParam/page}" title="playParam">
                    <div id="play-params-icon">
                        <div th:insert="fragments/svgs/play-params-icon"></div>
                    </div>
                    <div id="play-params">Play params</div>
                </a>
            </div>
            <div class="menu-item ">
                <a class="nav-link menu-icon" th:href="@{/playUnit/page}" title="playUnit">
                    <div id="play-units-icon">
                        <div th:insert="fragments/svgs/play-unit-icon"></div>
                    </div>
                    <div id="play-units">Play units</div>
                </a>
            </div>
            <div class="menu-item">
                <a class="nav-link menu-icon" th:href="@{/track/page}" title="track">
                    <div id="tracks-icon">
                        <div th:insert="fragments/svgs/track-icon"></div>
                    </div>
                    <div id="tracks">Tracks</div>
                </a>
            </div>
        </div>


        <div class="bush-container">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <div th:insert="fragments/svgs/bush"></div>
        </div>

    </div>
    <div class="support-container">
        <div class="d-flex flex-row flex-wrap align-items-center">
            <div class="gear-icon" th:insert="fragments/svgs/gear-icon"></div>
            <span class="support-text">Support</span>
        </div>
        <div class='support-text col-sm-8' style="display: none">
            <a href="mailto:klucsik.krisztian@gmail.com" class="support-mail">support mail address</a>
            <span> | version: 1.0.2 2021.10.28.</span>
        </div>
    </div>
</div>