<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PlayUnit</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row justify-content-center">
            <div class="col-sm-10 d-flex justify-content-center">
                <h3 class="mb-2 p-4 page-title">
                    <span>Playing units</span>
                </h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div th:insert="fragments/_messages"></div>
                <div class="col-3 mt-3">
                    <a href='/playUnit/new' class="create-new-button">Create new play unit</a>
                </div>
            </div>
        </div>

        <div class="mt-3 row d-flex justify-content-center">
            <div class="col-sm-10">
                <div class="table-custom-style p-4">
                    <table id="playUnitTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>minPause</th>
                            <th>maxPause</th>
                            <th>trackList</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var tableData = /*[[${PlayUnitDtoList}]]*/;
    console.log(tableData);

    $('#playUnitTable').DataTable({
        data: tableData,
        // select: true,
        columns: [
            {data: 'id'},
            {data: 'name'},
            {data: 'minPause'},
            {data: 'maxPause'},
            {
                data: 'trackList',
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("[" + oData.trackList.map(track => track.trackNumber) + "]");
                }
            },
            {
                data: 'id',
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<span><a href='/playUnit/" + oData.id + "'><span>edit</span></a></span> <span><a href='/playUnit/" + oData.id + "/delete'><span>delete</span></a></span>");

                },
                searchable: false
            }
        ]
    });

    /*]]>*/
</script>
</body>
</html>