<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row justify-content-lg-around card-container">
            <div th:insert="fragments/_card" class="m-2 info-card"></div>
            <div th:insert="fragments/_card" class="m-2 info-card"></div>
            <div th:insert="fragments/_card" class="m-2 info-card"></div>
            <div th:insert="fragments/_card" class="m-2 info-card"></div>
        </div>
        <div class="row justify-content-center">
            <div class="mt-5 table-custom-style">
            <table id="taskBasket" class="table table-striped">
                <thead>
                <tr>
                    <th>name</th>
                    <th>position</th>
                    <th>salary</th>
                    <th>start_date</th>
                    <th>office</th>
                    <th>extn</th>
                </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        const dataExample = [
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            }
        ];


        $('#taskBasket').DataTable({
            data: dataExample,
            // select: true,
            columns: [
                {data: 'name'},
                {data: 'position'},
                {data: 'salary'},
                {data: 'start_date'},
                {data: 'office'},
                {data: 'extn'},
            ]
        });


        const closeMenu =()=>{
            console.debug("sidhi");
            $("#main-menu").attr("width", "600px")
        }

        /*]]>*/
    </script>

</body>
</html>