
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>

    <div th:insert="fragments/_header_includes"></div>
</head>
<body>

<div class="row">
    <div class="col menu-column" th:insert="fragments/_menu"></div>
    <div class="col">
        <div class="row justify-content-lg-around card-container">
            <div class="m-2 info-card d-flex flex-column justify-content-center align-items-center" style="position: relative">
                <div class="d-flex flex-column justify-content-center">
                    <span style="text-align: center; font-size: 1.8rem; font-weight: 400">Running devices</span>
                    <div class="d-flex justify-content-center">
                        <span style="text-align: center; font-size: 3.2rem; font-weight: 600; align-self: baseline">5</span>
                        <span style="font-size: 1.5rem; font-weight: bold; align-self: baseline">/8</span>
                    </div>
                </div>
                <div style="background-color: green; width: calc(5/8*100%); height: 5px; position: absolute; bottom: 0; left: 0"></div>
            <div class="m-2 info-card">
                <div class="d-flex flex-column justify-content-center">
                    <span>Running devices</span>
                    <span>12</span>
                </div>
            </div>
            <div th:insert="fragments/_card" class="m-2 info-card"></div>
            <div th:insert="fragments/_card" class="m-2 info-card"></div>
            <div th:insert="fragments/_card" class="m-2 info-card"></div>
        </div>
        <div class="row justify-content-center">
            <div class="mt-5 table-custom-style">
            <table id="taskBasket" class="table table-striped">
                <thead>
                <tr>
                    <th>name</th>
                    <th>position</th>
                    <th>salary</th>
                    <th>start_date</th>
                    <th>office</th>
                    <th>extn</th>
                </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        const dataExample = [
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            },
            {
                "name": "Tiger Nixon",
                "position": "System Architect",
                "salary": "$3,120",
                "start_date": "2011/04/25",
                "office": "Edinburgh",
                "extn": "5421"
            },
            {
                "name": "Garrett Winters",
                "position": "Director",
                "salary": "$5,300",
                "start_date": "2011/07/25",
                "office": "Edinburgh",
                "extn": "8422"
            }
        ];


        $('#taskBasket').DataTable({
            data: dataExample,
            // select: true,
            columns: [
                {data: 'name'},
                {data: 'position'},
                {data: 'salary'},
                {data: 'start_date'},
                {data: 'office'},
                {data: 'extn'},
            ]
        });

        /*]]>*/
    </script>

</body>
</html>