<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>DeviceVoltage</title>

  <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
  <div class="col-sm-1" th:insert="fragments/_menu"></div>
  <div class="col-sm-11">
    <div class="mt-5 table-custom-style">
      <table id="deviceVoltageTable" class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>voltage</th>
          <th>device</th>
          <th>createdAt</th>
          <th>Actions</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

<script th:inline="javascript">
  /*<![CDATA[*/
  var tableData = /*[[${deviceVoltageDtoList}]]*/;
  console.log(tableData);

  $('#deviceVoltageTable').DataTable({
    data: tableData,
    // select: true,
    columns: [
      {data: 'id'},
      {data: 'voltage'},
      {data: 'device'},
      {data: 'createdAt'},
      {data: 'id',
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          $(nTd).html("<span><a href='/deviceVoltage/"+oData.id+"'><span>edit</span></a></span> <span><a href='/deviceVoltage/"+oData.id+"/delete'><span>delete</span></a></span>");

        },
        searchable: false
      }
    ]
  });

  /*]]>*/
</script>
</body>
</html>