<svg
        width="155.433"
        height="148.3"
        viewBox="0 0 155.433 148.3"
        fill="none"
        version="1.1"
        id="svg2312"
        sodipodi:docname="bush.svg"
        inkscape:version="1.1 (c68e22c387, 2021-05-23)"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
    <sodipodi:namedview
            id="namedview2314"
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1.0"
            inkscape:pageshadow="2"
            inkscape:pageopacity="0.0"
            inkscape:pagecheckerboard="0"
            showgrid="false"
            fit-margin-top="0"
            fit-margin-left="0"
            fit-margin-right="0"
            fit-margin-bottom="0"
            inkscape:zoom="2.9507042"
            inkscape:cx="62.527446"
            inkscape:cy="39.4821"
            inkscape:window-width="1920"
            inkscape:window-height="1001"
            inkscape:window-x="-9"
            inkscape:window-y="-9"
            inkscape:window-maximized="1"
            inkscape:current-layer="svg2312"/>
    <path
            d="m 81.3078,145.9 h 46.8702 c -1.244,-6.23 22.545,-95.533197 10.382,-97.016397 -12.162,-1.4832 -3.919,-29.6291 -8.009,-39.7507203 C 125.439,-3.5191673 71.9331,10.731403 55.5746,33.692503 42.4878,52.061403 65.4037,107.944 81.3078,145.9 Z"
            fill="url(#paint0_linear)"
            id="path2275"
            style="fill:url(#paint0_linear);filter:url(#filter2326)"/>
    <path
            d="M 2.4,145.306 V 45.336803 c 1.47681,-23.0229 26.6112,-7.1464 31.4444,-19.5787 6.0415,-15.5405 22.1977,-29.7518103 41.5304,-1.5488 15.4663,22.5625 13.1595,74.4757 -5.6362,121.096697 z"
            fill="url(#paint1_linear)"
            id="path2277"
            style="fill:url(#paint1_linear);filter:url(#filter2356)"/>
    <path
            d="m 109.786,145.9 12.146,-30.147 c -37.3776,5.339 0.562,-38.945897 -22.283,-52.717297 -16.8742,-10.172 -18.0611,9.9999 -41.1993,9.9999 -15.0045,4.6574 -47.13999,-6.5348 -52.80311,0 C -5.35822,85.734403 19.5806,119.66 32.9545,145.9 Z"
            fill="url(#paint2_linear)"
            id="path2279"
            style="fill:url(#paint2_linear);filter:url(#filter2386)"/>
    <path
            d="M 19.3088,145.9 H 2.4000453 L 2.4,64.025703 c 0,0 0.673102,-12.7393 9.57247,15.7387 10.21803,0.6665 2.29333,-32.9441 33.81763,-28.478 31.5242,4.4661 20.0353,29.7288 26.638,36.0262 7.1897,6.8572 4.5161,22.002397 -2.298,39.321397 -4.0676,10.339 -9.5875,19.266 -9.5875,19.266 H 34.4378 Z"
            fill="url(#paint0_linear)"
            id="path2281"
            style="fill:url(#paint0_linear);filter:url(#filter2416)"/>
    <path
            d="m 2.696875,145.603 v -41.8268 c 0,0 1.603975,1.5818 5.042975,-5.415897 4.29876,-8.7466 28.52725,-23.2385 42.28325,-7.365 C 61.0279,103.694 53.4481,119.364 40.0742,145.603 Z"
            fill="url(#paint0_linear)"
            id="path2283"
            style="fill:url(#paint0_linear);filter:url(#filter2446)"/>
    <defs
            id="defs2310">
        <linearGradient
                id="paint0_linear"
                x1="88.994202"
                y1="-18.3915"
                x2="88.994202"
                y2="166.12199"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4,4.4000027)">
            <stop
                    stop-color="#439A6B"
                    id="stop2285"/>
            <stop
                    offset="1"
                    stop-color="#4F9A43"
                    id="stop2287"/>
        </linearGradient>
        <linearGradient
                id="paint1_linear"
                x1="32.631001"
                y1="-46.031898"
                x2="32.631001"
                y2="180.605"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4,4.4000027)">
            <stop
                    stop-color="#59AE4C"
                    id="stop2290"/>
            <stop
                    offset="1"
                    stop-color="#3D8A7C"
                    id="stop2292"/>
        </linearGradient>
        <linearGradient
                id="paint2_linear"
                x1="71.772301"
                y1="56.769798"
                x2="71.772301"
                y2="184.327"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4,4.4000027)">
            <stop
                    stop-color="#3B8C4E"
                    id="stop2295"/>
            <stop
                    offset="1"
                    stop-color="#439A7B"
                    id="stop2297"/>
        </linearGradient>
        <linearGradient
                id="paint3_linear"
                x1="37.754902"
                y1="43.340599"
                x2="37.754902"
                y2="181.577"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4,4.4000027)">
            <stop
                    stop-color="#449F8F"
                    id="stop2300"/>
            <stop
                    offset="1"
                    stop-color="#449F69"
                    id="stop2302"/>
        </linearGradient>
        <linearGradient
                id="paint4_linear"
                x1="17.5023"
                y1="53.630402"
                x2="17.5023"
                y2="181.188"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4,4.4000027)">
            <stop
                    stop-color="#66BC58"
                    id="stop2305"/>
            <stop
                    offset="1"
                    stop-color="#439A7B"
                    id="stop2307"/>
        </linearGradient>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2326"
                x="-0.026566656"
                y="-0.031095406"
                width="1.1748972"
                height="1.0480565">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2316"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2318"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2320"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2322"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2324"/>
        </filter>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2356"
                x="-0.028854014"
                y="-0.032062566"
                width="1.1899556"
                height="1.0495512">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2346"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2348"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2350"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2352"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2354"/>
        </filter>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2386"
                x="-0.02016542"
                y="-0.051323644"
                width="1.1327557"
                height="1.0793184">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2376"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2378"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2380"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2382"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2384"/>
        </filter>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2416"
                x="-0.032304873"
                y="-0.046304849"
                width="1.2126737"
                height="1.071562">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2406"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2408"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2410"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2412"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2414"/>
        </filter>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2446"
                x="-0.045618748"
                y="-0.071310451"
                width="1.3003234"
                height="1.1102071">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2436"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2438"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2440"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2442"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2444"/>
        </filter>
    </defs>
</svg>
