<svg
        width="138.07135"
        height="269.37805"
        viewBox="0 0 138.07135 269.37805"
        fill="none"
        version="1.1"
        id="svg709"
        sodipodi:docname="tree-without-shadow.svg"
        inkscape:version="1.1 (c68e22c387, 2021-05-23)"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
    <sodipodi:namedview
            id="namedview711"
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1.0"
            inkscape:pageshadow="2"
            inkscape:pageopacity="0.0"
            inkscape:pagecheckerboard="0"
            showgrid="false"
            fit-margin-top="0"
            fit-margin-left="0"
            fit-margin-right="0"
            fit-margin-bottom="0"
            inkscape:zoom="2.9100719"
            inkscape:cx="11.168109"
            inkscape:cy="84.70581"
            inkscape:window-width="1920"
            inkscape:window-height="1001"
            inkscape:window-x="-9"
            inkscape:window-y="-9"
            inkscape:window-maximized="1"
            inkscape:current-layer="svg709"/>
    <path
            d="m 2.4000001,266.97804 5.67e-5,-253.030095 c 0,0 11.0815432,10.1856 23.0309432,3.4236 80.297,-45.4397 124.237,48.0729 84.208,56.4146 0.302,10.4548 7.758,13.108 13.343,35.153895 4.013,15.838 -7.349,35.059 -28.7941,42.197 9.2761,7.22 16.7591,17.332 15.4511,26.919 -3.413,25.025 -12.1026,28.099 -18.9288,31.579 -6.8262,3.481 -53.1497,-6.256 -63.9232,22.046 -10.7734,28.302 -11.5194,22.391 -24.3869999,35.297 z"
            fill="url(#paint0_linear)"
            id="path631"
            style="fill:url(#paint0_linear);filter:url(#filter1982)"/>
    <path
            d="m 83.9423,78.372745 c -23.6536,-28.6332 -81.5422999,-1.5562 -81.5422999,-1.5562 v 71.271495 c 0,0 6.60191,19.206 25.5206999,21.786 46.1288,6.291 76.5623,-9.337 49.797,-39.215 -26.7656,-29.878 29.8783,-23.653 6.2246,-52.286295 z"
            fill="url(#paint1_linear)"
            id="path633"
            style="fill:url(#paint1_linear);filter:url(#filter2044)"/>
    <path
            d="m 62.123,184.53204 c -23.6536,28.633 -59.7229999,-3.454 -59.7229999,-3.454 v -67.537 c 0,0 79.8232999,-13.904995 53.0576999,15.974 -26.7656,29.878 30.319,26.383 6.6653,55.017 z"
            fill="url(#paint2_linear)"
            id="path635"
            style="fill:url(#paint2_linear);filter:url(#filter2075)"/>
    <path
            d="m 64.312,30.671445 c 1.233,2.2335 8.9632,2.986 8.846,4.2924 -0.1171,1.3064 -1.2887,1.4308 -6.3269,0.4355 -5.0382,-0.9954 -5.9169,-1.1198 -7.03,-2.4262 -0.6102,-0.7161 3.515,-4.1058 4.5109,-2.3017 z"
            fill="#d2ccae"
            id="path637"/>
    <path
            d="m 67.9451,35.495445 c 3.3933,1.3056 12.1963,0.9399 17.2126,-5.6924 6.7044,-8.8643 3.1966,-17.547 3.1966,-17.547 0,0 -0.1967,3.1333 -7.3276,-0.5223 -7.131,-3.6557005 -11.1145,12.7425 -16.1307,14.1525 -4.279,1.2028 -2.1651,7.603 3.0491,9.6092 z"
            fill="url(#paint3_linear)"
            id="path639"
            style="fill:url(#paint3_linear)"/>
    <path
            d="m 53.9032,31.745545 c -2.5434,3.5063 -9.9789,10.9697 -9.9789,10.9697 0,0 -0.5303,1.3423 0.5254,1.2427 1.0555,-0.0996 1.8337,-0.5944 3.6969,-1.6411 2.3268,-1.3071 7.4874,-5.3512 12.1396,-9.8 4.9787,-4.7609 8.28,-8.9773 9.6675,-10.8119 6.7043,-8.8644 5.7471,-9.2534 5.7471,-9.2534 0,0 2.4607,-8.2938005 0.8543,-9.5699005 -0.9418,-0.7482 -4.1948,1.0593 -7.7308,7.9825005 -1.5044,2.9455 -10.0451,14.1594 -14.9211,20.8814 z"
            fill="#ffd916"
            id="path641"/>
    <path
            d="m 53.9032,31.749045 c -2.5434,3.5063 -9.9789,10.9697 -9.9789,10.9697 0,0 -0.5303,1.3424 0.5254,1.2428 1.0555,-0.0996 1.8337,-0.5945 3.6969,-1.6412 2.3268,-1.3071 7.4874,-5.3512 12.1396,-9.8 4.9787,-4.7609 -1.507,-7.4933 -6.383,-0.7713 z"
            fill="#bdb9a3"
            id="path643"/>
    <g
            opacity="0.985042"
            id="g647"
            transform="translate(2.4000001,-11.021955)">
        <path
                d="m 52.2498,41.6483 c -2.5434,3.5063 2.0504,1.2442 2.0504,1.2442 0,0 0.2503,3.7161 4.9026,-0.7327 2.4058,-2.3006 3.6602,-3.3631 4.4946,-4.4538 0.8923,-1.1664 2.5588,-3.1186 3.9804,-5.3866 0.8825,-0.9851 -3.7684,-6.3365 -3.7684,-6.3365 0,0 -6.7836,8.9434 -11.6596,15.6654 z"
                fill="url(#paint4_linear)"
                id="path645"
                style="fill:url(#paint4_linear)"/>
    </g>
    <path
            d="m 65.6148,15.619145 c -1.0186,1.8773 -0.9971,3.372 0.5273,4.0436 1.5895,0.7003 3.094,2.9744 3.81,2.0446 1.814,-2.3556 6.3802,-8.9151 6.3802,-8.9151 0,0 2.2233,-8.2586005 0.9229,-9.8807005 -1.8134,-2.26179999 -7.2217,5.2269 -7.2217,5.2269 0,0 -0.8983,0.992 -4.4187,7.4807005 z"
            fill="#d8c359"
            id="path649"/>
    <path
            d="m 79.6174,33.243745 c 3.4224,-1.5392 6.317,-6.0832 7.131,-9.087 1.5288,-5.6413 -0.1941,-8.1646 0.6977,-9.5727 3.0396,-4.7993005 -3.1593,-3.6665 -3.2797,-2.2935 -0.169,1.9291 0.8251,1.4102 0.908,3.49 0.1077,2.7001 -0.4097,7.2085 -0.7849,8.3241 -1.3295,3.9517 -4.0038,6.7052 -11.3112,10.079 -6.7867,3.1335 -0.1816,2.1275 6.6391,-0.9399 z"
            fill="url(#paint5_linear)"
            id="path651"
            style="fill:url(#paint5_linear)"/>
    <path
            d="m 87.549,5.3490445 c 0.5797,2.3181 -0.3661,2.296 0.2444,3.9499 1.3304,3.6040005 1.2506,4.9946005 -2.9866,4.3248005 -0.8368,-0.1323 -2.0913,-0.8739 -3.4717,-1.5887 -0.9007,-0.4663 -2.5236,-1.1157 -2.9309,-0.8311 -3.8452,2.6864 -4.4849,0.5457 -5.7109,-2.5471005 -1.3256,-3.3439 5.5038,-8.91579999 8.3961,-8.64749999 2.8924,0.2684 5.6452,2.08169999 6.4596,5.33969999 z"
            fill="url(#paint6_linear)"
            id="path653"
            style="fill:url(#paint6_linear)"/>
    <g
            opacity="0.50641"
            id="g657"
            transform="translate(2.4000001,-11.021955)">
        <path
                d="m 78.2,17.1293 c 1.5333,0.7734 5.7882,-0.6106 4.6382,1.4247 -1.1499,2.0352 -0.8816,3.2157 -3.1049,3.1343 -2.2233,-0.0814 -2.3383,-0.4478 -4.3316,-0.5292 -1.9933,-0.0814 -2.2616,0.0407 -2.9133,-3.8264 -0.619,-3.6734 4.1782,-0.9768 5.7116,-0.2034 z"
                fill="#889ecf"
                id="path655"/>
    </g>
    <path
            d="m 82.3099,4.7110445 c 1.0447,-0.0165 1.093,1.6729 0.0368,1.6222 -1.2349,-0.0592 -1.1138,-1.6051 -0.0368,-1.6222 z"
            fill="#121212"
            id="path659"/>
    <path
            d="m 81.7225,5.1992445 c 0.0734,0 0.1331,0.0708 0.1331,0.1583 0,0.0875 -0.0597,0.1583 -0.1331,0.1583 -0.0735,0 -0.133,-0.0708 -0.133,-0.1583 0,-0.0875 0.0595,-0.1583 0.133,-0.1583 z"
            fill="#ffffff"
            id="path661"/>
    <path
            d="m 87.6904,5.9162445 c 0,0 -0.8293,-0.9272 -0.0578,-0.898 1.847,0.0701 3.6123,0.3914 3.2769,0.8485 -0.5273,0.7187 -3.5102,1.4221 -4.9896,1.0692 -0.7521,-0.1795 1.7705,-1.0197 1.7705,-1.0197 z"
            fill="url(#paint7_radial)"
            id="path663"
            style="fill:url(#paint7_radial)"/>
    <path
            d="m 64.3259,42.532945 c -27.1605,15.6867 -26.0741,32.8916 -61.9258999,35.4217 L 36.079,57.207645 c 18.469,-15.1807 12.4938,-14.7759 23.358,-21.253 34.2222,-10e-5 47.056,-5.9036 58.463,6.5784 -13.5,-7.415 -39.052,-8.3875 -53.5741,-1e-4 z"
            fill="#714a26"
            id="path665"
            style="filter:url(#filter2106)"/>
    <defs
            id="defs707">
        <linearGradient
                id="paint0_linear"
                x1="-15.9528"
                y1="305.26501"
                x2="19.006399"
                y2="71.861504"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4000001,-11.021955)">
            <stop
                    stop-color="#3D8A7C"
                    id="stop667"/>
            <stop
                    offset="1"
                    stop-color="#609D5E"
                    id="stop669"/>
        </linearGradient>
        <linearGradient
                id="paint1_linear"
                x1="47.929401"
                y1="42.0877"
                x2="24.2759"
                y2="169.07001"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4000001,-11.021955)">
            <stop
                    stop-color="#82BB55"
                    id="stop672"/>
            <stop
                    offset="1"
                    stop-color="#439A6B"
                    id="stop674"/>
        </linearGradient>
        <linearGradient
                id="paint2_linear"
                x1="-4.9097099"
                y1="237.952"
                x2="17.803101"
                y2="88.462502"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4000001,-11.021955)">
            <stop
                    stop-color="#3D8A7C"
                    id="stop677"/>
            <stop
                    offset="1"
                    stop-color="#61BC60"
                    id="stop679"/>
        </linearGradient>
        <linearGradient
                id="paint3_linear"
                x1="73.5383"
                y1="22.225599"
                x2="73.5383"
                y2="47.120098"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4000001,-11.021955)">
            <stop
                    stop-color="#FFD916"
                    id="stop682"/>
            <stop
                    offset="1"
                    stop-color="#927D12"
                    id="stop684"/>
        </linearGradient>
        <linearGradient
                id="paint4_linear"
                x1="60.285599"
                y1="33.7369"
                x2="66.529198"
                y2="29.4678"
                gradientUnits="userSpaceOnUse">
            <stop
                    stop-color="#79714A"
                    id="stop687"/>
            <stop
                    offset="1"
                    stop-color="#79714A"
                    stop-opacity="0"
                    id="stop689"/>
        </linearGradient>
        <linearGradient
                id="paint5_linear"
                x1="76.806999"
                y1="22.123501"
                x2="76.806999"
                y2="47.117298"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4000001,-11.021955)">
            <stop
                    stop-color="#4237A5"
                    id="stop692"/>
            <stop
                    offset="1"
                    stop-color="#20195F"
                    stop-opacity="0.5"
                    id="stop694"/>
        </linearGradient>
        <linearGradient
                id="paint6_linear"
                x1="77.912598"
                y1="24.6649"
                x2="79.326202"
                y2="9.9218302"
                gradientUnits="userSpaceOnUse"
                gradientTransform="translate(2.4000001,-11.021955)">
            <stop
                    stop-color="#4237A5"
                    id="stop697"/>
            <stop
                    offset="1"
                    stop-color="#5B99BA"
                    id="stop699"/>
        </linearGradient>
        <radialGradient
                id="paint7_radial"
                cx="0"
                cy="0"
                r="1"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(0,1.00617,-2.58543,0,88.3653,6.0237445)">
            <stop
                    stop-color="#3E4145"
                    id="stop702"/>
            <stop
                    offset="1"
                    stop-color="#532D17"
                    id="stop704"/>
        </radialGradient>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter1982"
                x="-0.019628474"
                y="-0.016793893"
                width="1.1292208"
                height="1.0259542">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood1972"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite1974"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur1976"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset1978"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite1980"/>
        </filter>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2044"
                x="-0.027439501"
                y="-0.041501097"
                width="1.1806434"
                height="1.0641381">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2034"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2036"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2038"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2040"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2042"/>
        </filter>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2075"
                x="-0.036580789"
                y="-0.051097132"
                width="1.2408235"
                height="1.0789683">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2065"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2067"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2069"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2071"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2073"/>
        </filter>
        <filter
                style="color-interpolation-filters:sRGB"
                inkscape:label="Drop Shadow"
                id="filter2106"
                x="-0.020779221"
                y="-0.101394"
                width="1.1367965"
                height="1.1566998">
            <feFlood
                    flood-opacity="0.25098"
                    flood-color="rgb(0,0,0)"
                    result="flood"
                    id="feFlood2096"/>
            <feComposite
                    in="flood"
                    in2="SourceGraphic"
                    operator="in"
                    result="composite1"
                    id="feComposite2098"/>
            <feGaussianBlur
                    in="composite1"
                    stdDeviation="1"
                    result="blur"
                    id="feGaussianBlur2100"/>
            <feOffset
                    dx="11"
                    dy="-2"
                    result="offset"
                    id="feOffset2102"/>
            <feComposite
                    in="SourceGraphic"
                    in2="offset"
                    operator="over"
                    result="composite2"
                    id="feComposite2104"/>
        </filter>
    </defs>
</svg>