<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Edit play parameter</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row justify-content-center">
            <div class="col-sm-10 d-flex justify-content-center">
                <div th:insert="fragments/_messages"></div>
                <form class="row g-1" th:action="@{save}" method="post" th:object="${playParamDto}">
                    <div class="d-flex justify-content-center">
                        <h3 class="mb-2 p-4 page-title">
                            <span>Create new play parameter</span>
                        </h3>
                    </div>
                    <div>
                        <input type="hidden" id="id"
                               th:field="*{id}" readonly>
                    </div>
                    <div class="how-to-container" id="howToTextInPlayParamSavePage">
                        <div th:insert="fragments/_howto"></div>
                    </div>
                    <div class="row mb-2 form-item-container">
                        <div class="row m-2">
                            <div class="col-1">
                                <label for="name" class="fw-600">Name</label>
                            </div>
                            <div class="col-11">
                                <input type="text" id="name"
                                       th:field="*{name}" required>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-1">
                                <label for="vol" class="fw-600">Volume</label>
                            </div>
                            <div class="col-11">
                                <input type="number" id="vol"
                                       th:field="*{vol}" required>
                            </div>
                        </div>

                    </div><!--Big frontend hack for more consistent view-->
                    <div class="row mb-2 form-item-container">
                        <div class="row m-2">
                            <div class="col-12">
                                <label for="playUnitsCol1" class="fw-600">Play Units</label>
                            </div>
                            <div class="col-12">
                                <div class="row mb-3 mt-4">
                                    <div class="col-6">
                                        <div class="d-flex justify-content-center position-relative">
                                            <span class="am-pm-container">AM</span>
                                        </div>
                                        <div class="d-flex align-items-center flex-column pt-5 pb-3 column-container">
                                            <div th:insert="fragments/svgs/moon-icon" class="day-icon-top"></div>
                                            <div th:insert="fragments/svgs/sun-icon" class="day-icon-bottom"></div>
                                            <div class="col-sm-6 g-1 d-flex justify-content-center"
                                                 th:each="playUnit : *{playUnits}"
                                                 id="playUnitsCol1">
                                                <div th:if="${playUnit.getKey()<13}" class="d-flex m-1">
                                                    <label class="d-flex align-items-center hour-container"
                                                           th:text="${playUnit.getKey() + ':00'}"></label>
                                                    <select class="hour-select"
                                                            th:field="*{playUnits[__${playUnit.getKey()}__]}">
                                                        <option value=""> --</option>
                                                        <option th:each="optionPlayUnit : ${playUnitList}"
                                                                th:value="${optionPlayUnit}"
                                                                th:text="${#strings.concat(optionPlayUnit.getId(),' - ',optionPlayUnit.getName(),' - ',optionPlayUnit.getTrackList() ) }"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex justify-content-center position-relative">
                                            <span class="am-pm-container">PM</span>
                                        </div>
                                        <div class="d-flex align-items-center flex-column pt-5 pb-3 column-container">
                                            <div th:insert="fragments/svgs/sun-icon" class="day-icon-top"></div>
                                            <div th:insert="fragments/svgs/moon-icon" class="day-icon-bottom"></div>
                                            <div class="col-sm-6 g-1 d-flex justify-content-center"
                                                 th:each="playUnit : *{playUnits}"
                                                 id="playUnitsCol2">
                                                <div th:if="${playUnit.getKey()>12}" class="d-flex m-1">
                                                    <label class="d-flex align-items-center hour-container"
                                                           th:text="${playUnit.getKey() + ':00'}"></label>
                                                    <select class="hour-select"
                                                            th:field="*{playUnits[__${playUnit.getKey()}__]}">
                                                        <option value=""> --</option>
                                                        <option th:each="optionPlayUnit : ${playUnitList}"
                                                                th:value="${optionPlayUnit}"
                                                                th:text="${#strings.concat(optionPlayUnit.getId(),' - ',optionPlayUnit.getName(),' - ',optionPlayUnit.getTrackList() ) }"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-4 justify-content-sm-start">
                        <div class="col-3">
                            <button type="submit" class="btn create-new-button p-2">Save play param</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>

</body>
</html>