<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Edit playParam</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row justify-content-center">
            <div th:insert="fragments/_messages"></div>
            <form class="row g-1" th:action="@{save}" method="post" th:object="${playParamDto}">
                <div class="row fs-1 p-3">Create new playParam</div>
                <div>
                    <input type="hidden"  id="id"
                           th:field="*{id}" readonly>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="name" >name</label>
                    </div>
                    <div class="col-8">
                        <input type="text"  id="name"
                               th:field="*{name}" required>
                    </div>

                    <div class="col-4">
                        <label for="vol" >volume</label>
                    </div>
                    <div class="col-8">
                        <input type="number"  id="vol"
                               th:field="*{vol}" required>
                    </div>

                    <div class="col-4">
                    <label for="playUnits" >playUnits</label>
                  </div>
                    <div class="col-8" th:each="playUnit : *{playUnits}" id="playUnits">
                    <label th:text="${playUnit.getKey()}"></label>
                    <select th:field="*{playUnits[__${playUnit.getKey()}__]}" >
                        <option value=""> -- </option>
                        <option th:each="optionPlayUnit : ${playUnitList}"
                                th:value="${optionPlayUnit}"
                                th:text="${#strings.concat(optionPlayUnit.getId(),' - ',optionPlayUnit.getName(),' - ',optionPlayUnit.getTrackList() ) }"
                        ></option>
                    </select>
                </div>
                    <div class="row justify-content-sm-center">
                        <div class="d-grid col-3">
                            <button type="submit" class="btn btn-sm btn-primary">Save playParam</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>


</body>
</html>