<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create/Modify Track</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col-sm-1" th:insert="fragments/_menu"></div>
    <div class="col-sm-11">
        <div class="row justify-content-center">
            <div th:insert="fragments/_messages"></div>
            <form class="row g-1" th:action="@{save}" method="post" th:object="${trackDto}">
                <div class="row fs-1 p-3" th:text="${title}"></div>
                <div class="row">
                    <div >
                        <input type="hidden"  id="id"
                               th:field="*{id}" readonly>
                    </div>

                    <div class="col-4">
                        <label for="name" >Name</label>
                    </div>
                    <div class="col-8">
                        <input type="text"  id="name"
                               th:field="*{name}" required>
                    </div>

                    <div class="col-4">
                        <label for="trackNumber" >Tracknumber</label>
                    </div>
                    <div class="col-8">
                        <input type="number"  id="trackNumber"
                               th:field="*{trackNumber}" required>
                    </div>

                    <div class="col-4">
                        <label for="length" >Length</label>
                    </div>
                    <div class="col-8">
                        <input type="number"  id="length"
                               th:field="*{length}" required>
                    </div>
                    <div class="row justify-content-sm-center">
                        <div class="d-grid col-3">
                            <button type="submit" class="btn btn-sm btn-primary">Save track</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>


</body>
</html>