<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tracks</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col menu-column" th:insert="fragments/_menu"></div>
    <div class="col">
        <div class="row justify-content-center">
            <div class="col d-flex justify-content-center">
                <h3 class="mb-2 p-4 page-title">
                    <span>Tracks</span>
                </h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div th:insert="fragments/_messages"></div>
                <div class="col mt-3">
                    <a href='/track/new' class="create-new-button">Create new track</a>
                </div>
            </div>
        </div>

        <div class="mt-3 row d-flex justify-content-center">
            <div class="col">
                <div class="table-custom-style p-4">
                    <table id="trackTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>trackname</th>
                            <th>tracknumber</th>
                            <th>tracklength</th> <!---TODO: seconds here and on save page-->
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>


<script th:inline="javascript">
    /*<![CDATA[*/
    var tableData = /*[[${trackDtoList}]]*/;
    console.log(tableData);

    $('#trackTable').DataTable({
        data: tableData,
        // select: true,
        columns: [
            {data: 'id'},
            {data: 'name'},
            {data: 'trackNumber'},
            {data: 'length'}, //TODO: use mask to write an 's' after the length
            {
                data: 'id',
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<span><a href='/track/" + oData.id + "'><span>edit</span></a></span> <span><a href='/track/" + oData.id + "/delete'><span>delete</span></a></span>");

                },
                searchable: false
            }
        ],
        autoWidth: false
    });

    /*]]>*/
</script>


</body>
</html>