<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Modify Track</title>

    <div th:insert="fragments/_header_includes"></div>

</head>
<body>

<div class="row">
    <div class="col menu-column" th:insert="fragments/_menu"></div>
    <div class="col">
        <div th:insert="fragments/_messages"></div>
        <div class="row justify-content-center">
            <div class="col-sm-10 d-flex justify-content-center">
                <form class="row g-1" th:action="@{save}" method="post" th:object="${trackDto}">
                    <div class="d-flex justify-content-center">
                        <h3 class="mb-2 p-4 page-title">
                            <span th:text="${title}">Create new play parameter</span>
                        </h3>
                    </div>
                    <div>
                        <input type="hidden" id="id"
                               th:field="*{id}" readonly>
                    </div>
                    <div class="how-to-container" id="howToTextInTextSavePage">
                        <div th:insert="fragments/_howto"></div>
                    </div>
                    <div class="row mb-2 form-item-container">
                        <div class="row m-2">
                            <div class="col-2">
                                <label for="name" class="fw-600">Name</label>
                            </div>
                            <div class="col">
                                <input type="text" id="name"
                                       th:field="*{name}" required>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-2">
                                <label for="trackNumber" class="fw-600">Track number</label>
                            </div>
                            <div class="col">
                                <input type="number" id="trackNumber"
                                       th:field="*{trackNumber}" required>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-2">
                                <label for="length" class="fw-600">Length</label>
                            </div>
                            <div class="col">
                                <input type="number" id="length"
                                       th:field="*{length}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row m-4 justify-content-sm-start">
                        <div class="col">
                            <button type="submit" class="btn create-new-button p-2">Save track</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/_foot_includes"></div>


</body>
</html>